
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>工序扫码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />

    <link href="~/Content/styles/hsf/base.css" rel="stylesheet" />
    <link href="~/Content/styles/hsf/signup.css" rel="stylesheet" />
</head>
<body>
    <div class="skl_state_div">
        <img src="~/Content/images/icon/报名成功图标.png" />
    </div>
    <p class="skl_state_title">@ViewBag.Msg</p>
</body>
</html> 
