<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.hzsoft.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="思科莱" />
  <!-- 系统名称 -->
  <add key="SystemName" value="思科莱" />
  <!-- 软件名称 -->
  <add key="SoftName" value="思科莱" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="894313147@qq.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.exmail.qq.com" />
  <!-- ================== 6：短信参数 ================== -->
  <!-- 短信账户 -->
  <add key="SMSAccount" value="jumuxx_lr" />
  <!-- 短信密码 -->
  <add key="SMSPswd" value="Lrxx158753" />
  <!-- 短信接口地址 -->
  <add key="SMSUrl" value="http://localhost:80/msg/HttpBatchSendSM" />
  <!-- ================== 7：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="SignalRUrl" value="http://localhost:8081/signalr" />


  <add key="AppID" value="wxb3887ee9f8215ea8"/>
  <add key="AppSecret" value="38bae42d36ec048f4840f68180c9c682"/>
  <add key="AppName" value="Sikelai"/>
  <add key="Domain" value="http://www.sikelai.cn"/>
  <add key="biz" value="MzU3MzczNTY4Mw=="/>
  <!--未关注关注连接标识-->
  
  <add key="fxTitle" value="思科莱“生活设计家”"/>
  <add key="fxContent" value="请给我投票吧！"/>
  <add key="CompanyProfile" value="山东韩宇来企业集团成立于1996年，现拥有板材、全屋定制、房地产开发与物业管理、融资贷款服务、餐饮服务等几大支柱产业。"/>



  <!--<add key="AppID" value="wxfee20a9dc1956b47"/>
  <add key="AppSecret" value="ae076c34c6eae1c898f0135ef2c57523"/>
  <add key="AppName" value="Hsf"/>
  <add key="Domain" value="http://hsf.sikelai.cn"/>-->
</appSettings>