@{
    ViewBag.Title = "收款表单";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    img {
        max-width: 650px;
        max-height: 380px;
        height: auto;
        zoom: expression( function(e) {
if(e.width>e.height) {if (e.width>650) { e.height = e.height*(380 /e.width); e.width=650; }}
else {if (e.height>380) { e.width = e.width*(650 /e.height); e.height=380; }}
e.style.zoom = '1';     }(this));
        overflow: hidden;
    }
</style>
<script>
    var keyValue = request('receivableId');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        $.SetForm({
            url: "../../CustomerManage/ReceivableSkl/GetFormJson",
            param: { keyValue: keyValue },
            success: function (data) {
                $("#form1").SetWebControls(data);
                if (data.ReceiptPath != undefined) {
                    $("#UploadReceiptPath").attr("imgsrc", data.ReceiptPath).html("<img src='" + data.ReceiptPath + "' class='img' />");
                }
                if (!!data.EnabledMark) {
                    $("input:radio[name='EnabledMark'][value=" + data.EnabledMark + "]").attr("checked", 'checked');
                }
            }
        });
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData["EnabledMark"] = $("input[name='EnabledMark']:checked").val();
        $.SaveForm({
            url: "../../CustomerManage/ReceivableSkl/UpdateStateForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">收款日期</td>
            <td class="formValue">
                <input id="OrderId" type="hidden" class="form-control" disabled />
                <input id="PaymentTime" type="text" class="form-control" disabled />
            </td>
        </tr>
        <tr>
            <td class="formTitle">收款金额</td>
            <td class="formValue">
                <input id="PaymentPrice" type="text" class="form-control" disabled />
            </td>
        </tr>
        <tr>
            <th class="formTitle" valign="top" style="padding-top: 4px;">备注信息</th>
            <td class="formValue">
                <textarea id="Description" class="form-control" style="height: 60px;" disabled></textarea>
            </td>
        </tr>
        <tr>
            <td class="formValue" colspan="2" style="text-align:center">
                <div class="layui-upload-drag upload" id="UploadReceiptPath"  style="width:660px;height:390px"></div>
            </td>
        </tr>

    </table>
    <div class="radio" style="position:absolute;bottom:30px;right:150px">
        <label><input name="EnabledMark" type="radio" value="-1" />&nbsp;<span style='color:red'>驳回</span> </label>
        <label><input name="EnabledMark" type="radio" value="1" />&nbsp;<span style='color:green'>通过</span> </label>
    </div>
</div>
