@model  HZSoft.Application.Entity.CustomerManage.Poll_SignUpEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>思科莱“生活设计家”</title>
    <link href="~/Content/styles/hsf/base.css" rel="stylesheet" />
    <link href="~/Content/styles/hsf/details.css" rel="stylesheet" />
</head>
<body>
    <div class="skl_containers">
        <div class="skl_open">
            <div class="jd_banner">
                <ul>
                    <li><a href="#"><img src="/Content/images/players/2001/1234.jpg" /></a></li>
                    <li><a href="#"><img src="/Content/images/players/2001/11.jpg" /></a></li>
                    <li><a href="#"><img src="/Content/images/players/2001/13.jpg" /></a></li>
                    <li><a href="#"><img src="/Content/images/players/2001/123.jpg" /></a></li>
                    <li><a href="#"><img src="/Content/images/players/2001/1234.jpg" /></a></li>
                    <li><a href="#"><img src="/Content/images/players/2001/11.jpg" /></a></li>
                </ul>
                <ul>
                    <li class="now"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="skl_open_text">
                <span class="skl_open_text_No">1003号</span>
                <span class="skl_open_text_Name">初庆浩</span>
                <span class="skl_open_text_Piao">9503票</span>
            </div>
            <p>中式元素与现代材质的巧妙兼柔，明清家具、窗棂、布艺床品相互辉映，再现了移步变景的精妙小品。</p>
            <p class="skl_open_Tou">
                <span><a> <img src="/Content/images/icon/心型填充.png" />给Ta投票</a></span>
                <img src="~/Content/images/icon/心型填充.png" />
                <span><a> <img src="/Content/images/icon/拉票图标.png" />为Ta拉票</a></span>
            </p>
        </div>
        <!--导航-->
        <div class="skl_nav">
            <ul class="clearfix">
                <li>
                    <a href="~/WeChatManage/Sikelai/Index">
                        <img src="~/Content/images/icon/首页白.png" />
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/SignUp">
                        <img src="~/Content/images/icon/报名白.png" />
                        <p>报名</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Search">
                        <img src="~/Content/images/icon/搜索图标.png" />
                        <p>搜索</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Top?groupId=1">
                        <img src="~/Content/images/icon/排行白.png" />
                        <p>排行</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Rule">
                        <img src="~/Content/images/icon/规则白.png" />
                        <p>规则</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="~/Content/scripts/hsf/details.js"></script>
</body>
</html>
