@using HZSoft.Application.Entity.CustomerManage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>思科莱“生活设计家”</title>
    <link href="~/Content/styles/hsf/base.css" rel="stylesheet" />
    <link href="~/Content/styles/hsf/index.css" rel="stylesheet" />
</head>
<body>
    <div class="skl_containers">
        <!--参赛选手-->
        <div class="skl_players">
            <div class="skl_sortdiv">
                <a href="~/WeChatManage/Sikelai/ListsNew?sidx=Id"><nav class="skl_sort fg_r ">最新参与</nav></a>
                <a href="~/WeChatManage/Sikelai/ListsTop?sidx=PollCount"><nav class="skl_sort fg_l skl_sort_now">人气选手</nav></a>
            </div>
            <div class="skl_box clearfix">
            </div>
        </div>
        <!--导航-->
        <div class="skl_nav">
            <ul class="clearfix">
                <li>
                    <a href="~/WeChatManage/Sikelai/Index">
                        <img src="~/Content/images/icon/首页白.png" />
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/SignUp">
                        <img src="~/Content/images/icon/报名白.png" />
                        <p>报名</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Search">
                        <img src="~/Content/images/icon/搜索图标.png" />
                        <p>搜索</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Top?groupId=1">
                        <img src="~/Content/images/icon/排行白.png" />
                        <p>排行</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Rule">
                        <img src="~/Content/images/icon/规则白.png" />
                        <p>规则</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="~/Content/scripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/scripts/plugins/layer/layer.js"></script>
    <script src="~/Content/scripts/hsf/imgReady.js"></script>
    <script src="~/Content/scripts/hsf/sidx.js"></script>
</body>
</html>
