
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>思科莱“生活设计家”</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />

    <link href="~/Content/styles/hsf/base.css" rel="stylesheet" />
    <link href="~/Content/styles/hsf/rule.css" rel="stylesheet" />
</head>
<body>
    <div class="skl_containers">
        <div class="ruletxt">
            <h2>
                <img src="~/Content/images/icon/规则红.png" /> 活动规则介绍
            </h2>
            <h3>参赛要求：</h3>
            <p>以下为审核不通过：</p>
            <p>1、图片为JPG格式、画质清晰、图片大小1M以内，可上传一张或多张图（最多四张）并设置一张封面。</p>
            <p>2、封面图不清晰，封面图太暗，封面图倒置或封面图不清晰明显导致（无法分辨）</p>
            <p>3、杜绝抄袭，一经发现将取消参赛资格</p>
            <h3>活动时间：</h3>
            <p>2019年4月22日-2019年8月15日</p>
            <h3>如何参与：</h3>
            <p>1、关注“思科莱全屋定制”公众号</p>
            <p>2、点击“设计大赛”菜单，点击“报名”，根据提示上传照片与个人信息。</p>
            <p>3、等待审核，审核通过后即可拉票竞选！</p>
            <p>活动范围：所有好友均可参与投票，喊上亲朋好友为你</p>
            <p>投票吧！活动期间每天每个微信账号可投1张票，禁止网</p>
            <p>络刷票、水军群求助（系统自动监测刷票情况，一经发现</p>
            <p>立即取消资格）</p>
            <p>地址：山东省临沂兰山经济开发区大山路西段</p>
            <p>主办方：韩师傅集成家居有限公司</p>
            <p>更多活动信息：请微信搜索“思科莱全屋定制”</p>
            <p style="color: #e60012;">活动所有解释权归主办方所有</p>
        </div>
        <!--导航-->
        <div class="skl_nav">
            <ul class="clearfix">
                <li>
                    <a href="~/WeChatManage/Sikelai/Index">
                        <img src="~/Content/images/icon/首页白.png" />
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/SignUp">
                        <img src="~/Content/images/icon/报名白.png" />
                        <p>报名</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Search">
                        <img src="~/Content/images/icon/搜索图标.png" />
                        <p>搜索</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Top?groupId=1">
                        <img src="~/Content/images/icon/排行白.png" />
                        <p>排行</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Rule">
                        <img src="~/Content/images/icon/规则红.png" />
                        <p class="navnow">规则</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
