@using HZSoft.Application.Entity.CustomerManage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>思科莱“生活设计家”</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <link href="~/Content/styles/hsf/base.css" rel="stylesheet" />
    <style>
        table {
            border-collapse: collapse;            
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="skl_containers" >
        <div style="padding:10px 10px 55px 10px">
            <h1 style="text-align:center">2018年思科莱杯“生活设计家”首届室内设计大赛 </h1>
            <br />
            <br />
            <br />
            <h2>一、活动目的：</h2>
            <p>为了倡导绿色、时尚、安全、环保的室内装饰理念；充分展示企业和设计师的良好形象，加强设计师与公司合作及校企合作；发掘优秀设计人才及作品，促进概念设计向实际应用的转变，提高设计师的社会知名度与公众认可度；扩大品牌知名度和影响力；全面打造放心消费、绿色装修的家装理念，引导家装行业健康、快速、良心发展，向社会组织开展“生活设计家”思科莱杯首届室内设计大赛。</p>

            <br />
            <h2>二、活动内容：</h2>
            <h3>1，活动主题：生活设计家</h3>
            <p style="padding-left:50px">               ——2018年思科莱杯首届室内设计大赛</p>
            <br />
            <h3>2，活动时间：</h3>
            <p>   赛事发布：10月27日</p>
            <p>   报名时间：10月27日-11月12日</p>
            <p>   海选时间：11月15日-11月29日</p>
            <p>   复赛时间：12月3日-12月20日</p>
            <p>   决赛及颁奖时间：12月22日-2109年1月5日</p>
            <br />
            <h3>3，活动地点：</h3>
            <h4>报名方式：网络报名</h4>
            <p>3）搜索微信公众号“<b>思科莱全屋定制</b>”，点击“<b>设计大赛</b>”菜单报名</p>
            <br />
            <h4>评选地点：</h4>
            <p>1）临沂赛区评选现场：待定</p>
            <p>2）上海赛区评选现场：待定</p>
            <br />
            <h4>决赛颁奖地点：待定</h4>
            <br />
            <h3>4，参赛对象：</h3>
            <p>1）专业组：设计机构，家装公司，个人设计师</p>
            <p>2）非专业组：民间创意设计高手（非设计专业出身的设计爱好者）</p>
            <p>3）新秀组：设计院校学生</p>
            <br />
            <h3>5，赛事系统：</h3>
            <table>
                <tr>
                    <th>系统名称</th>
                    <th>流程</th>
                </tr>
                <tr>
                    <td>报名系统</td>
                    <td>在线报名→选择本人参与类型（专业组、非专业组、新秀组）→提交资料→审核→反馈</td>
                </tr>
                <tr>
                    <td>展示系统</td>
                    <td>报名成功→上传作品→审核→线上展示</td>
                </tr>
                <tr>
                    <td>在线投票系统</td>
                    <td>注册→登录→投票→排名</td>
                </tr>
                <tr>
                    <td>在线论坛系统</td>
                    <td>发帖→回帖→上传/下载、删帖、点赞、评分、置顶</td>
                </tr>
                <tr>
                    <td>新闻系统</td>
                    <td>赛事发布→海选报道→复赛报道→决赛报道→专访</td>
                </tr>
                <tr>
                    <td>加盟系统</td>
                    <td>我要加盟→提交资料→在线申请→等待审核→加盟成功</td>
                </tr>
            </table>
            <br />
            <br />
            <h2>三、推广计划：</h2>
            <table>
                <tr>
                    <th>渠道</th>
                    <th>时间</th>
                    <th>内容</th>
                    <th>备注</th>
                </tr>
                <tr>
                    <td>大赛官网</td>
                    <td>10月27日开始</td>
                    <td>专题内容上线、赛事宣传片、报名通道</td>
                    <td>提前五天内部测试</td>
                </tr>
                <tr>
                    <td>新闻发布会</td>
                    <td>10月27日</td>
                    <td>设计师大赛及全屋定制项目启动</td>
                    <td>嘉宾邀请，海棠直播，官网转播</td>
                </tr>
                <tr>
                    <td>微信营销</td>
                    <td>10月27日开始</td>
                    <td>软文，H5，朋友圈图片</td>
                    <td>备注</td>
                </tr>
                <tr>
                    <td>网络媒体</td>
                    <td>10月27日开始</td>
                    <td>话题发布，商业门户传播，软文</td>
                    <td>门户网站，搜索引擎</td>
                </tr>
                <tr>
                    <td>校园讲座</td>
                    <td>11月5日</td>
                    <td>设计师专题讲座，企业冠名</td>
                    <td>嘉宾邀请，海棠直播，官网转播</td>
                </tr>
                <tr>
                    <td>行业垂直平台</td>
                    <td>10月27日开始</td>
                    <td>吸引设计师关注大赛并报名参加</td>
                    <td>吸引潜在顾客关注</td>
                </tr>
                <tr>
                    <td>自媒体</td>
                    <td>10月27日开始</td>
                    <td>赛事发布，软文推广，后续软文传播</td>
                    <td>企业官网，公众号，H5</td>
                </tr>
                <tr>
                    <td>SIDP研讨会</td>
                    <td>待定</td>
                    <td>向SIDP设计师平台会员传递比赛信息，吸引参赛</td>
                    <td>吸引设计师和机构报名参赛并成为合作伙伴</td>
                </tr>
            </table>
            <br />
            <h2>四、奖项设置：</h2>
            <h3>A，个人奖：</h3>
            <p>一等奖一名（奖金5000元、奖杯、证书）</p>
            <p>二等奖两名（奖金3000元、奖杯、证书）</p>
            <p>三等奖五名（奖金1000元、奖杯、证书）</p>
            <p>优秀奖十名（奖杯、证书、奖品）</p>
            <p>新秀奖十名（仅限在校生作品，奖杯、证书、奖品）</p>
            <br />
            <h3>B团体奖：</h3>
            <p>最佳组织或机构3名（奖牌、证书）</p>
            <br />
            <h2>五、赛事落地流程：</h2>
            <h3>A，发布会流程：</h3>
            <h4>1，前期准备：</h4>
            <p>1）前期嘉宾、参会人员邀约</p>
            <p>2）背景PPT制作、</p>
            <p>3）主持词准备、嘉宾发言稿准备</p>
            <p>4）地点确认、直播确认</p>
            <p>5）场地布置，氛围搭建，人员分工及工作讲解</p>
            <br />
            <h4>2，落地当天流程：</h4>
            <p>1）9：00——9：30嘉宾到场签到，思科莱宣传视频暖场</p>
            <p>2）9：30——9：40主持人宣布发布会开始，做嘉宾介绍</p>
            <p>3）9：40——10：10主办方代表做大赛简介，参赛作品要求，公布报名渠道及奖项设置</p>
            <p>4）10：10——10：20设计师（或者评选组委会代表）代表发言</p>
            <p>5）10：20——10：50思科莱宣布项目启动及价格政策等</p>
            <br />
            <h3>B，颁奖仪式落地流程 </h3>
            <h4>1，前期准备</h4>
            <p>1）邀约评委会代表、获奖作者代表和颁奖嘉宾</p>
            <p>2）会场搭建，直播确认，颁奖音乐确认</p>
            <p>3）主持词、发言稿准备</p>
            <p>4）获奖作品PPT及会议背景准备</p>
            <p>5）奖牌、奖杯、奖品、奖金形式及物料准备</p>
            <p>6）场地布置、氛围搭建，人员分工及工作讲解</p>
            <p>7）通知并邀请获奖作者，签到表可为获奖者单独制作一份</p>
            <br />
            <h4>2，落地流程</h4>
            <p>1）2：00-2：30嘉宾签到，宣传视频暖场</p>
            <p>2）2：30-3：00主持人做嘉宾介绍宣布仪式开始</p>
            <p>3）3：10-3：20评委代表发言致辞</p>
            <p>4）3：20-4：20主持人宣布获奖人员名单，并邀请获奖者上台领奖（顺序为优秀奖，新秀奖，三等奖，二等奖，一等奖和团体奖，每个领奖者上台背景切换为获奖作品）</p>
            <p>5）4：20-4：30获奖代表发表感言</p>
            <p>6）4：30-4：40集体合影留念</p>
            <p>7）4：40-4：50公司代表发言，并宣布2019年会继续举办第二届设计大赛</p>
            <br />
            <br />
            <div style="height:100px"></div>
        </div>
        <!--导航-->
        <div class="skl_nav">
            <ul class="clearfix">
                <li>
                    <a href="~/WeChatManage/Sikelai/Index">
                        <img src="~/Content/images/icon/首页白.png" />
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/SignUp">
                        <img src="~/Content/images/icon/报名白.png" />
                        <p>报名</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Search">
                        <img src="~/Content/images/icon/搜索图标.png" />
                        <p>搜索</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Top?groupId=1">
                        <img src="~/Content/images/icon/排行白.png" />
                        <p>排行</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Rule">
                        <img src="~/Content/images/icon/规则白.png" />
                        <p>规则</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
