
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user_scalable=0" />
    <title>思科莱简介</title>
    <link href="~/Content/styles/hsf/base.css" rel="stylesheet" />
    <style type="text/css">
        img {
            width: 98%;
            margin: 0 auto;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="skl_containers">
        <div style="padding:10px 20px 55px 20px; font-size:15px">
            <h2 style="text-align:center">韩师傅集成家居有限公司</h2>
            <br /><p>韩师傅集成家居有限公司位于中国临沂兰山经济开发区，公司总投资近5亿元人民币，总建筑面积达13万余平方米。公司生产车间设计采用国内先进的多层立体结构模式，并配有独立的办公大楼、研发中心、职工公寓等，集生产、生活、娱乐、办公于一体。目前拥有贴面板、底板、多层板、生态板、集成材等生产车间和全屋定制生产基地，拥有180余个系列板材、家居装饰及配套产品，年产60万立方米板材和定制家具10万套。</p>
            <br /><img src="~/Content/images/gywm11.png" /><br />
            <br /><p>韩师傅集成家居是在行业内率先提出“集成家居”理念的企业，公司变革传统营销理念，着力打造以板材、五金、胶水、地板、木门、全屋整装为一体的集成家居饰材全国连锁模式。</p>
            <br /><img src="~/Content/images/gywm22.png" /><br />
            @*<br /><p>经过多年发展，公司目前规模实力位居全国板材行业前列，现为林业产业标准化国家创新联盟“发起单位”、“国家级守合同重信用企业”、 “省级林业产业化龙头企业”，是“装饰薄木”国家行业标准和“浸渍胶膜纸饰面胶合板”国家标准起草单位，先后被中国林科院授予中国优势林产品企业FPI指数“成员企业”，被中国木材流通协会评为“中国胶合板质量诚信30强企业”、“企业信用评价AAA级企业”、“中国全屋定制国家品牌”，被中国木业网评为板材十大品牌，2015年5月被中国木材和木制品流通协会评为“中国木业30年（百家）突出贡献企业”等多项荣誉。</p>
        <br /><p>公司计划未来几年内完成现有传统产品向智能家居高端产品的转型。</p>*@

            <br /><p>在产品研发创新方面，公司与中国林业科学研究院、中国木材与木制品流通协会、南京林业大学等机构建立起产、学、研一体化的战略合作关系，共同组建了行业领先的产品研发中心和检测中心，通过完善的研发、检测体系，铸就了领先于同行的产品创新能力。同时韩师傅重金引进国内外高端生产设备和生产线，并积极进行设备升级改造，成功实现了机械化生产、流水化作业，信息化管控。</p>
            <br /><img src="~/Content/images/gsyj33.png" /><br />
            <br /><p>近年来，公司不断加大开发项目的科技含量，引进先进的生产设备，以推进家居应用技术、改善家居生活环境和提高居民生活质量为己任，不断探索开发高品质的绿色环保家居。公司以旗下 “思科莱”品牌为核心，致力于全屋定制、智慧新风设备、智能家居系统的设计与研发。集产品设计、生产营销、售后支持、集成管理平台为一体，并可提供全面智能与专业家居定制解决方案,全面满足客户智能化与个性化的需求。</p>
            <br /><p>为了让更多消费者体验到韩师傅360°服务，公司建立起遍布全国经销网络的客服中心，开通400全国免费服务热线，为消费者提供售前咨询解答、售中选材建议和售后跟踪回访等完善的服务。</p>
            <br /><img src="~/Content/images/gywm4.png" /><br />
            <div style="height:100px"></div>
        </div>
        <!--导航-->
        <div class="skl_nav">
            <ul class="clearfix">
                <li>
                    <a href="~/WeChatManage/Sikelai/Index">
                        <img src="~/Content/images/icon/首页白.png" />
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/SignUp">
                        <img src="~/Content/images/icon/报名白.png" />
                        <p>报名</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Search">
                        <img src="~/Content/images/icon/搜索图标.png" />
                        <p>搜索</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Top?groupId=1">
                        <img src="~/Content/images/icon/排行白.png" />
                        <p>排行</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Rule">
                        <img src="~/Content/images/icon/规则白.png" />
                        <p>规则</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
