
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user_scalable=0" />
    <title>韩师傅集成家居有限公司简介</title>
    <link href="~/Content/styles/hsf/base.css" rel="stylesheet" />
    <style type="text/css">
        img{
            width:98%;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="skl_containers">
        <div style="padding:10px 10px 55px 10px">
            @*<h2 style="text-align:center">韩师傅集成家居有限公司简介</h2>
        <br />

        <p>韩师傅集成家居有限公司位于中国板材之都、中国物流之都——山东临沂。前身是临沂市韩宇东来木业有限公司，为韩宇来企业集团下属子公司。2014年，公司成立“韩师傅”品牌，开启传统制造业由劳动力密集型向科技密集型的转变。作为家居建材行业内率先提出“集成家居”理念的企业，韩师傅集成家居变革传统营销理念，着力打造以板材及配套产品、全屋定制、智能家居、智慧新风为一体的智能集成家居全国连锁模式。</p>
        <p>韩师傅集成家居生产基地总投资近5亿元人民币，总建筑面积达16万余平方米，设计采用国内先进的双层立体结构模式并配有独立的办公大楼、研发中心、职工公寓，集生产、生活、娱乐、办公于一体。</p>
        <br /><img src="~/Content/images/picture/1.jpg" /><br />
        <p>韩师傅集成家居有限公司主要有以下业务模块：智慧板材、全屋定制业务、智能家居业务、智慧新风业务、IAQ4.0 空气质量监测与控制物联云平台。</p>
        <p>各业务模块及优势介绍如下：</p>

        <br /><br /><h3>一、智慧板材</h3>
        <p>企业依托于20余年家居建材类产品的研发、生产、销售经验，在传统业务木块——板材及其配套产品方面，韩师傅已经全国布局连锁门店300余家，初步掌握了产品的市场入口。企业与杭州群核信息技术有限公司战略合作，打造全屋装修一键设计及定制家具智能设计，向经销商开放设计端口，同时提升自身产业，开启全屋定制项目，打造传统业务的智能升级，又产品提供商向产品服务商转变。</p>
        <br /><img src="~/Content/images/picture/2.png" />

        <br /><br /><h3>二、全屋定制业务模块</h3>
        <p>全屋定制为今年来家居行业风口，2017年为全屋定制元年，作为全屋定制原材料生产商，韩师傅抓住市场机遇期，果断立项成立全屋定制项目，目前主要以设计、销售定制板式家具类产品为主营业务，包括衣柜、书柜、电视柜、橱柜、护墙板等各类板式柜体家具的个性化，为消费者打造理想家、个性家。</p>
        <br /><img src="~/Content/images/picture/3.png" />

        <br /><br /><h3>三、智能家居业务模块</h3>
        <p>智能家居为当前智能领域热门行业，是以住宅为平台，利用综合布线技术、网络通信技术、安全防范技术、自动控制技术、音视频技术将家居生活有关的设施通过网络集成，构建高效的住宅设施与家庭日程事务的管理系统，提升家居安全性、便利性、舒适性、艺术性，并实现环保节能的居住环境。目前高端市场有海尔智能、科大讯飞等品牌。韩师傅经过市场细分，认为中高端市场对智能生活的体验需求量极为庞大，因此斥资引进智能家居系统，开启智能生活模式。</p>
        <br /><img src="~/Content/images/picture/4.jpg" />
        <p>韩师傅智能家居系统包括：居家安防系统、厨房安全保护系统、照明感知控制系统、多彩照明系统、音乐交互系统、家电智能控制系统、语音智慧管家、环境自动优化系统、智慧魔镜九大系统。韩师傅通过对硬件研发、制造，软件开发升级维护，不断的更新升级智能产品体系，以“享生活·智能家”为愿景，全力为消费者提供科技感、幸福感、舒适感、便利感、安全感的“五感”生活。</p>
        <br /><img src="~/Content/images/picture/5.png" />
        <br /><br /><img src="~/Content/images/picture/6.png" />
        <br /><br /><h3>四、智慧新风项目</h3>
        <p>当前环境污染情况不容乐观，尤其与西方发达国家相比，我国民众生活在污浊的空气环境中。韩师傅人判定消费者对空气的净化需求，一定会向对饮用水的净化需求一样高，抱着为消费者提供健康生活环境的企业愿景，韩师傅斥资研发新风系统，开启智慧新风项目。</p>
        <p>韩师傅智慧新风主要有三大类产品：IAQ4.0 空气云平台（见第五项介绍）、别墅大宅·E5 系列互联网净醛新风机、别墅大宅·E6 系列互联网净醛新风机、传世别墅·E8 互联网组合式新风机、高档楼宇·EO 组合式新风机组、墙式新风机、A8 柜式新风机、地下室·ED 系列互联网除湿新风机、CK 厨卫排风机、Brief 柔性风管系统。</p>
        <p>韩师傅智慧新风系统的市场优势：1、韩师傅智慧新风系统与智能家居的环境自动优化系统相互协作，新风设备通过物联网技术，与智能家居端口集成，可以一键控制新风系统模式，在自动模式下，可以通过监测、感应空间内空气质量效果，自动调节设备运行；2、通过专利技术甲醛分子筛，对室内的甲醛、TVOC等有毒化学物质进行化学分解，同时通过进风和排风设计，可以达到室内密闭条件下，循环进入清新空气，使用韩师傅新风系统，规避了开窗透气的市场难题。</p>

        <br /><br /><h3>五、IAQ4.0 空气质量监测与控制物联云平台</h3>
        <p>本平台与中国科学院微系统与信息技术研究所合作，是基于现实场景检测单元与云端服务器的超级计算机不断收发数据进行合理的新风净化设备管控运行来实现对现实场景内部空气质量的管理，包含了群组管理、批量处理、实时监测、曲线展示、数据导出、远程控制、超标告警、滤网管理、风速管理、信息推送等200 多个功能。平台拥有百万级设备兼容能力、毫秒级的响应速度、稳定可靠的运行状态、拥有便捷的操控系统和极强的扩展整合架构。</p>
        <p>本平台的将达到以下创新性：</p>
        <p>在硬件架构上，对于新风集成系统，率先采用了多设备扁平化布点，在服务器端组网的架构方案，具体极其灵活的环境适应性及施工使得性；</p>
        <p>通过硬件与软件的复合配置时间，实现对密集多点并发的时域区分，以降低并发时的基站压力以及通信确保通信稳定性；</p>
        <p>服务端器采用的特征数据算法，能制订出各不同场景的科学智能的控制策略，通过不断的数据积累，不断学习和优化此算法。</p>*@

            <a href="~/Content/参赛户型CAD图纸.rar"><h3 style="text-align:center; color:blue">参赛户型图CAD下载</h3></a>
        </div>
        <!--导航-->
        <div class="skl_nav">
            <ul class="clearfix">
                <li>
                    <a href="~/WeChatManage/Sikelai/Index">
                        <img src="~/Content/images/icon/首页白.png" />
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/SignUp">
                        <img src="~/Content/images/icon/报名白.png" />
                        <p>报名</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Search">
                        <img src="~/Content/images/icon/搜索图标.png" />
                        <p>搜索</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Top?groupId=1">
                        <img src="~/Content/images/icon/排行白.png" />
                        <p>排行</p>
                    </a>
                </li>
                <li>
                    <a href="~/WeChatManage/Sikelai/Rule">
                        <img src="~/Content/images/icon/规则白.png" />
                        <p>规则</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
