@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formValue">
                <img src="~/Content/images/qrcode/个人信息填写.png" />
            </td>
        </tr>
    </table>
</div>
