@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formValue">
                <img src="~/Content/images/qrcode/1开料.png" />
            </td>
            <td class="formValue">
                <img src="~/Content/images/qrcode/2封边.png" />
            </td>
            <td class="formValue">
                <img src="~/Content/images/qrcode/3排钻.png" />
            </td>
        </tr>
        <tr>
            <td class="formValue">
                <img src="~/Content/images/qrcode/4试装.png" />
            </td>
            <td class="formValue">
                <img src="~/Content/images/qrcode/5包装.png" />
            </td>
        </tr>
    </table>
</div>
