@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/plugins/layer2/layer.js"></script>
<script src="~/Content/scripts/plugins/layui/layui.js"></script>
<link href="~/Content/scripts/plugins/layui/css/layui.css" rel="stylesheet" />

<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //订单类型
        $("#OrderType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "OrderType" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //运费承担方
        $("#Carrier").ComboBox({
            description: "==请选择==",
        });
        //运输方式
        $("#ShippingType").ComboBox({
            description: "==请选择==",
        });
        //经销商
        $("#CompanyId").ComboBox({
            url: "../../CustomerManage/Client_Company/GetListJson",
            id: "CompanyId",
            text: "FullName",
            description: "==请选择==",
            height: "360px",
            width: "260px",
        });
        //客户名称
        $("#CustomerId").ComboBox({
            url: "../../CustomerManage/Customer/GetListJson",
            id: "CustomerId",
            text: "FullName",
            description: "==请选择==",
            height: "360px",
            width: "280px",
            allowSearch: true
        });
        //销售
        $("#SalesmanUserId").ComboBoxTree({
            url: "../../BaseManage/User/GetTreeJson",
            description: "==请选择==",
            height: "320px",
            allowSearch: true
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CustomerManage/DZ_Order/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                    if (!!data.CreatePath) {
                        $("#CreatePath_a").attr("href", data.CreatePath).text(data.CreatePath.substring(data.CreatePath.lastIndexOf("/") + 1));
                    }
                    if (!!data.CheckTuPath) {
                        $("#CheckTuPath_a").attr("href", data.CheckTuPath).text(data.CheckTuPath.substring(data.CheckTuPath.lastIndexOf("/") + 1));
                    }
                    if (!!data.CheckTuMark) {
                        $("input:radio[name='CheckTuMark'][value=" + data.CheckTuMark+"]").attr("checked", 'checked');
                    }

                    //拆单之后，不允许修改审图状态
                    if (data.ChaiMark == 1) {
                        $("input:radio[name='CheckTuMark']").attr('disabled', 'disabled');
                        $("#fileUpload").hide();
                    }
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        //var postData = {};
        postData["CheckTuMark"] = $("input[name='CheckTuMark']:checked").val();
        postData["CheckTuUserId"] = "@HZSoft.Application.Code.OperatorProvider.Provider.Current().UserId";
        postData["CheckTuUserName"] = "@HZSoft.Application.Code.OperatorProvider.Provider.Current().UserName";
        postData["CheckTuDate"] = "@HZSoft.Util.Time.GetDateTime()";
        $.SaveForm({
            url: "../../CustomerManage/DZ_Order/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

</script>

<style type="text/css">
    * {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    fieldset {
        padding: 10px;
        color: #333;
        border: #06c dashed 1px;
    }

    legend {
        color: #06c;
        font-weight: 800;
        background: #fff;
        border: #b6b6b6 solid 1px;
        padding: 3px 6px;
    }

    ul {
        list-style-type: none;
        margin: 8px 0 4px 0;
    }

    li {
        margin-top: 4px;
    }
</style>
<div style="margin-left: 10px; margin-right: 10px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#BaseInfo" data-toggle="tab">接单</a></li>
        <li><a href="#ExpandInfo" data-toggle="tab">审图</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active" style=" padding-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle">单号<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Code" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" disabled />
                    </td>
                    <td class="formTitle">订单类型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="OrderType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" disabled></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">客户<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="CustomerId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" disabled></div>
                    </td>
                    <td class="formTitle">客户电话<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="CustomerTelphone" type="text" class="form-control" disabled />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">设计师</td>
                    <td class="formValue">
                        <input id="DesignerUserName" type="text" class="form-control" disabled />
                    </td>
                    <td class="formTitle">设计师电话</td>
                    <td class="formValue">
                        <input id="DesignerTelphone" type="text" class="form-control" disabled />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">经销商<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="CompanyId" type="select" class="ui-select" disabled></div>
                    </td>
                    <td class="formTitle">销售<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="SalesmanUserId" type="select" class="ui-select" disabled></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">收货地址</td>
                    <td class="formValue" colspan='3'>
                        <input id="Address" type="text" class="form-control" disabled />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">运输方式<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="ShippingType" type="select" class="ui-select" disabled>
                            <ul>
                                <li data-value="1">公司派车</li>
                                <li data-value="2">物流</li>
                            </ul>
                        </div>
                    </td>
                    <td class="formTitle">运费承担方<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="Carrier" type="select" class="ui-select" disabled>
                            <ul>
                                <li data-value="1">我方</li>
                                <li data-value="2">对方</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">原图附件<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <input id="CreatePath" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        <a id="CreatePath_a" style='text-decoration:underline;color: #337ab7;' href=""></a>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 4px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="Description" class="form-control" style="height: 100px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div id="ExpandInfo" class="tab-pane ">
            <table class="form">
                <tr>
                    <td class="formTitle"></td>
                    <td class="formValue">
                        <div class="radio">
                            <label><input name="CheckTuMark" type="radio" value="-1" />&nbsp;<span style='color:red'>驳回</span> </label>
                            <label><input name="CheckTuMark" type="radio" value="1" />&nbsp;<span style='color:green'>通过</span> </label>
                            <label><input name="CheckTuMark" type="radio" value="2" />&nbsp;<span style='color:green'>无需审图</span> </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">审图附件</td>
                    <td class="formValue" colspan="3">
                        <input type="hidden" id="totalPage" value="0" />
                        <input type="hidden" id="page" value="1" />
                        <input type="hidden" id="status" value="0" />
                        <div class="layui-input-block" style="margin-left:0px;float:left">
                            <button type="button" class="layui-btn" id="fileUpload" title="重复上传会覆盖已有文件"><i class="layui-icon">v</i>上传文件</button>
                        </div>
                        &nbsp;<a id="CheckTuPath_a" style='text-decoration:underline;color: #337ab7;height:38px;line-height:38px;' href=""></a>
                        <input id="CheckTuPath" type="hidden" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="mask"></div>
<div class="loading">
    <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgress">
        <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
    </div>
</div>
<link href="~/Content/styles/hsf/loading.css" rel="stylesheet" />
<script src="~/Content/scripts/hsf/SplitUpload.js"></script>
