@using (Html.BeginForm("ImportKuJiaLe", "DZ_Order", new { keyValue = @ViewBag.OrderId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <script src="/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <style>
        body {
            font-size: 14px;
        }
    </style>
    <div style="margin-top: 20px;">
        <fieldset id="myfieldset1">
            <legend>酷家乐导入</legend>
            <p>
                <input id="FileUpload" type="file" name="files" style="width: 250px; height: 24px;background: White" class="easyui-validatebox" />
                <input id="btnImport" type="submit" value="导入" onclick="importIng()" style="width: 80px; height: 24px;" />
            </p>
            <p style="text-align:center">
                <img class="loadimg" style="display:none" src="~/Content/images/timg.gif" />
            </p>
            <p style="color: Red; text-align: center;">@ViewBag.error</p>
        </fieldset>
    </div>
    <script>
        function importIng() {
            $("#btnImport").val("正在导入");
            $(".loadimg").show();
        }

    </script>
}