@{
    ViewBag.Title = "订单详细";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var childLength;
    var childEntity;
    $(function () {
        InitialPage();
        GetOrderEntryGrid();
        InitControl();
    });
    //初始化页面
    function InitialPage() {
        $(".bills").height($(window).height() - 88);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $(".bills").height($(window).height() - 88);
            }, 200);
            e.stopPropagation();
        });
        //订单状态
        $("#OrderType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "OrderType" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CustomerManage/DZ_Order/GetMoneyFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    var order = data.entity;
                    $("#form1").SetWebControls(order);
                    if (!!order.MoneyPath1010) {
                        $("#MoneyPath1010_a").attr("href", order.MoneyPath1010).text(order.MoneyPath1010.substring(order.MoneyPath1010.lastIndexOf("/") + 1));
                    }
                    if (!!order.MoneyPathKuJiaLe) {
                        $("#MoneyPathKuJiaLe_a").attr("href", order.MoneyPathKuJiaLe).text(order.MoneyPathKuJiaLe.substring(order.MoneyPathKuJiaLe.lastIndexOf("/") + 1));
                    }
                    if (!!order.MoneyPath1010_cw) {
                        $("#MoneyPath1010_cw_a").attr("href", order.MoneyPath1010_cw).text(order.MoneyPath1010_cw.substring(order.MoneyPath1010_cw.lastIndexOf("/") + 1));
                    }
                    if (!!order.MoneyPathKuJiaLe_cw) {
                        $("#MoneyPathKuJiaLe_cw_a").attr("href", order.MoneyPathKuJiaLe_cw).text(order.MoneyPathKuJiaLe_cw.substring(order.MoneyPathKuJiaLe_cw.lastIndexOf("/") + 1));
                    }
                    if (!!order.MoneyMark) {
                        $("input:radio[name='MoneyMark'][value=" + order.MoneyMark + "]").attr("checked", 'checked');
                    }
                    //明细
                    childEntity = data.childEntity;
                    childLength = childEntity.length + 1;

                }
            })
        }
    }
    //初始化控件
    function InitControl() {
        $('#gridTable').find('[role=row]').each(function (i) {
            var row = childEntity[i - 1];
            if (row != undefined) {
                $(this).find('td[aria-describedby="gridTable_ItemId"]').html(row.ItemId);
                $(this).find('td[aria-describedby="gridTable_RoomName"]').html(row.RoomName);
                $(this).find('td[aria-describedby="gridTable_ProductId"]').html(row.ProductId);
                $(this).find('td[aria-describedby="gridTable_ProductName"]').html(row.ProductName);
                $(this).find('td[aria-describedby="gridTable_Guige"]').html(row.Guige);
                $(this).find('td[aria-describedby="gridTable_Unit"]').html(row.Unit);
                $(this).find('td[aria-describedby="gridTable_Price"]').html(row.Price);
                $(this).find('td[aria-describedby="gridTable_Area"]').html(row.Area);
                $(this).find('td[aria-describedby="gridTable_Amount"]').html(row.Amount);
                $(this).find('td[aria-describedby="gridTable_Description"]').html(row.Description);
                $(this).find('input').removeAttr('readonly').attr("isvalid", "yes");
                $(this).next().find('input').removeAttr('readonly');
            }
        });
        //合计
        GetTotal();
    }
    //合计
    function GetTotal() {
        var MoneyAccounts = 0.00;
        $("#gridTable").find("tbody tr").each(function (i) {
            var Amount = $(this).find('td:eq(8)').html();
            if (Amount != "" && Amount != undefined && Amount != '&nbsp;') {
                MoneyAccounts += Number(Amount);
            }
        });

        $("#MoneyAccounts").text(toDecimal(MoneyAccounts));
    }
    //加载明细
    function GetOrderEntryGrid() {
        var $grid = $('#gridTable');
        $grid.jqGrid({
            unwritten: false,
            datatype: 'local',
            height: '100%',
            autowidth: true,
            colModel: [
                { label: '统计子表Id', name: 'ItemId', width: 80, align: '', sortable: false, resizable: false, hidden: true },
                { label: '房间名称', name: 'RoomName', width: 100, align: '', sortable: false, resizable: false },
                { label: '物料名称', name: 'ProductName', width: 180, align: '', sortable: false, resizable: false },
                { label: '规格', name: 'Guige', width: 230, align: '', sortable: false, resizable: false },
                { label: '单位', name: 'Unit', width: 100, align: '', sortable: false, resizable: false },
                { label: '单价', name: 'Price', width: 100, align: '', sortable: false, resizable: false },
                { label: '数量', name: 'Area', width: 120, align: '', sortable: false, resizable: false },
                { label: '金额', name: 'Amount', width: 120, align: '', sortable: false, resizable: false },
                { label: '描述', name: 'Description', width: 380, align: '', sortable: false, resizable: false }
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "RoomName": "合计：",
                    "Amount": "<span id='MoneyAccounts'>0.00</span>"
                });
            }
        });
        //表头合并
        $grid.jqGrid('setGroupHeaders', {
            useColSpanStyle: true,
            groupHeaders: [
                { startColumnName: 'ProductName', numberOfColumns: 4, titleText: '物料信息' },
                { startColumnName: 'Area', numberOfColumns: 2, titleText: '数据信息' },
            ]
        });
        //默认添加13行 空行
        for (var i = 1; i < childLength; i++) {
            var rowdata = {
                ItemId: '',
                RoomName: '',
                ProductName: '',
                Guige: '',
                Unit: '',
                Price: '',
                Area: '',
                Amount: '',
                Description: ''
            }
            $grid.jqGrid('addRowData', i, rowdata);
        };
        
    }
    //打印
    function btn_print() {
        $(".bills").printTable();
    }

    //导出
    function btn_export() {
        dialogOpen({
            id: "ExcelIExportDialog",
            title: '导出报价明细',
            url: '/Utility/ExcelExportForm?gridId=gridTable&filename=报价单',
            width: "500px",
            height: "380px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }, btn: ['导出Excel', '关闭']
        });
    }
</script>
<div class="bills">
    <div class="printArea">
        <table class="form" style="width: 100%;margin-bottom: 10px;">
            <tr>
                <th class="formTitle" style="width: 60px;">订单编号</th>
                <td class="formValue">
                    <input id="Code" type="text" class="form-control" disabled />
                    <input id="Id" type="hidden" class="form-control" />
                </td>
                <th class="formTitle" style="width: 60px;">标题</th>
                <td class="formValue">
                    <input id="OrderTitle" type="text" class="form-control" disabled />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 60px;">客户</td>
                <td class="formValue">
                    <input id="CustomerName" type="text" class="form-control" disabled />
                    <input id="CustomerId" type="hidden" class="form-control" />
                </td>
                <td class="formTitle" style="width: 60px;">客户电话</td>
                <td class="formValue">
                    <input id="CustomerTelphone" type="text" class="form-control" disabled />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 60px;">收货地址</td>
                <td class="formValue" colspan="3">
                    <input id="Address" type="text" class="form-control" disabled />
                </td>
            </tr>
            <tr>
                <td class="formTitle">产品名称</td>
                <td class="formValue" colspan="3">
                    <input id="ProductName" type="text" class="form-control" disabled />
                </td>
            </tr>
        </table>
    </div>
    1010（定制）：<a id="MoneyPath1010_a" style='text-decoration:underline;color: #337ab7;height:38px;line-height:38px;' href=""></a>
    1010（厨卫）：<a id="MoneyPath1010_cw_a" style='text-decoration:underline;color: #337ab7;height:38px;line-height:38px;' href=""></a>
    酷家乐（定制）：<a id="MoneyPathKuJiaLe_a" style='text-decoration:underline;color: #337ab7;height:38px;line-height:38px;' href=""></a>
    酷家乐（厨卫）：<a id="MoneyPathKuJiaLe_cw_a" style='text-decoration:underline;color: #337ab7;height:38px;line-height:38px;' href=""></a>
    <div class="gridPanel printArea">
        <table id="gridTable"></table>
    </div>
    <div class="printArea">
        <textarea id="Remark" placeholder="暂无备注信息" class="form-control" style="width: 100%; height: 50px; margin-top: 10px;"></textarea>
        <table class="form" style="width: 100%;margin-bottom: 10px;">
            <tr>
                <td class="formTitle" style="width: 60px;">状态</td>
                <td class="formValue">
                    <div class="radio">
                        <label><input name="MoneyMark" type="radio" value="-1" />&nbsp;<span style='color:red'>驳回</span> </label>
                        <label><input name="MoneyMark" type="radio" value="1" />&nbsp;<span style='color:green'>通过</span> </label>
                    </div>
                </td>
                <td class="formTitle" style="width: 60px;">报价金额</td>
                <td class="formValue">
                    <input id="MoneyAccounts" type="text" class="form-control" isvalid="yes" checkexpession="Double" />
                </td>
                <td class="formTitle" style="width: 60px;">报价人</td>
                <td class="formValue">
                    <input id="MoneyUserName" type="text" class="form-control" disabled />
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="bottomField">
    <div class="btn-group">
        <a id="lr-print" class="btn btn-success" onclick="btn_print()"><i class="fa fa-print"></i>&nbsp;打印</a>
        <a id="lr-export" class="btn btn-default" onclick="btn_export()"><i class="fa fa-sign-out"></i>&nbsp;导出</a>
    </div>
</div>
