
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>韩师傅网络投票-生态板十大品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <style type="text/css">
        a {
            text-decoration: none;
            color: blue;
            font-size: 18px;
            font-family: 微软雅黑;
        }

            a:hover {
                color: #09f;
                font-size: 19px;
            }
    </style>
</head>
<body style="text-align:center">
    <div style="margin: 10px;">
        <img src="/Content/images/sikelai_ewm.png">
    </div>
    <p style="font-size:14px">请先长按识别二维码，关注本公众号</p>
    @*<p style="margin: 30px;"><a href="Index">再次进入</a></p>*@
</body>
</html>
