<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>韩师傅网络投票-生态板十大品牌</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="韩师傅网络投票-生态板十大品牌" />
    <meta name="keywords" content="韩师傅网络投票-生态板十大品牌" />
    <style type="text/css">
        body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
        li, dl, dt, dd, form, a, fieldset, input, th, td, i {
            margin: 0;
            padding: 0;
            border: 0;
            outline: none;
            font-style: normal;
            font-weight: normal;
        }

        html {
            height: 100%;
        }

        body {
            font-family: "微软雅黑";
            font-size: 14px;
            height: 100%;
            background: #f4f4f4;
        }

        ul, ol {
            list-style: none;
        }

        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }

        img {
            max-width: 100%;
            width: auto;
            height: auto;
            vertical-align: top;
            border: 0;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .header {
            text-align: center;
            padding: 0 .5rem;
        }

            .header h1 {
                color: #333;
                font-size: 1.2rem;
                line-height: 3rem;
            }

            .header h2 {
                background: #32cbd7;
                color: #fff;
                line-height: 2.5rem;
                font-size: 1rem;
            }

        .main {
            background: #32cbd7;
            overflow: hidden;
            margin: .2rem .5rem 0 .5rem;
        }

        .col-lg-3 {
            width: 33.33%;
            float: left;
            color: #fff;
            text-align: center;
        }

        .col-lg-2 {
            width: 50%;
            float: left;
            color: #fff;
            text-align: center;
        }

        .circular {
            width: 5rem;
            height: 5rem;
            color: #32cbd7;
            border-radius: 50%;
            font-size: 3.5rem;
            background: #fff;
            margin: .5rem auto;
            text-align: center;
            line-height: 5rem;
        }

        .main h2 {
            font-size: 1.1rem;
            margin-top: 1rem;
        }

        .main p {
            font-size: 1rem;
            margin-top: .5rem;
        }

        .list {
            margin: .5rem;
            background: #fff;
        }

            .list li {
                overflow: hidden;
                line-height: 3.5rem;
                border-bottom: 1px solid #ddd;
            }

            .list em {
                font-style: normal;
                color: #999;
                font-size: 1rem;
                margin-right: 1rem;
            }

            .list i {
                height: 2rem;
                width: .5rem;
                background: #32cbd7;
                border-radius: 0 .2rem .2rem 0;
                margin: .75rem 1rem 0 0;
            }

            .list span {
                margin-right: .5rem;
                font-size: 1.2rem;
                color: #333;
                width:85%;
            }

        .check-btn {
            background: #007cff;
            color: #fff;
            line-height: 3rem;
            font-size: 1rem;
            width: 50%;
            margin: 3rem auto;
            border: 0;
            display: block;
            text-align: center;
        }

        .list li .pink {
            background: #fe7596;
        }
        .list li .pink2 {
            background: #00BFFF;
        }
    </style>
</head>
<body>
    <header class="header">
        <h2>韩师傅网络投票</h2>
    </header>
    <ul class="list">
        <li>
            <a href="http://hd.wood365.cn/WebBorad/Mobile/Vote_8253B042C884183121AAC3B5417712E708E6604EB838EDD4CF75D61B34C3FDE5_172.html">
                <i class="fl"></i>
                <span class="fl">生态板十大品牌</span>
            </a>
        </li>
        <li>
            <a href="http://hd.wood365.cn/WebBorad/Mobile/Vote_8253B042C884183121AAC3B5417712E708E6604EB838EDD4CF75D61B34C3FDE5_6086.html">
                <i class="fl pink"></i>
                <span class="fl">创新产品十大品牌</span>
            </a>
        </li>
        <li>
            <a href="http://hd.wood365.cn/WebBorad/Mobile/Vote_8253B042C884183121AAC3B5417712E708E6604EB838EDD4CF75D61B34C3FDE5_174.html">
                <i class="fl pink2"></i>
                <span class="fl">消费者信赖十大品牌</span>
            </a>
        </li>
    </ul>
    <a onclick="document.getElementById('mcover').style.display='block';"><span class="check-btn">分享转发本页面</span></a>

    <p> 1、依次点击进入以上三个品牌投票的详细页面，点击投票，一小时可投票一次。</p>
    <p> 2、分享本页面到好友或朋友圈，非详细页面。</p>
    <p> 3、投票截止7月5日，经统计本页面的分享次数排名，公司会有相应的红包奖励。</p>

    <!--分享-->
    @{Html.RenderAction("_PartialShare", "Brand");}
    <!--end分享-->
</body>
</html>
