body {
    padding-bottom: 65px;
    background:#fff;
}

.card_top {
    width: 100%;
}
    .card_top img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    .card_body{

    }

.card_bottom {
    width: 100%;
}

    .card_bottom img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
    }


.center {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}