@{
    ViewBag.Title = "订单详细";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        InitialPage();
        GetOrderEntryGrid();
        InitControl();
    });
    //初始化页面
    function InitialPage() {
        $("#ifmSignIn").attr("src", "/Resource/QRcode/" + keyValue + ".jpg");
        $(".bills").height($(window).height() - 88);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $(".bills").height($(window).height() - 88);
            }, 200);
            e.stopPropagation();
        });
    }
    //初始化控件
    function InitControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CustomerManage/Buys_Order/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    //主表
                    var order = data.entity;
                    $("#form1").SetWebControls(order);
                    //明细
                    var childEntity = data.childEntity;
                    $("#gridTable").find('[role=row]').each(function (i) {
                        var row = childEntity[i - 1];
                        if (row != undefined) {
                            $(this).find('td[aria-describedby="gridTable_OrderEntryId"]').html(row.OrderEntryId);
                            $(this).find('td[aria-describedby="gridTable_ProductName"]').html(row.ProductName);
                            $(this).find('td[aria-describedby="gridTable_ProductCode"]').html(row.ProductCode);
                            $(this).find('td[aria-describedby="gridTable_Unit"]').html(row.Unit);
                            $(this).find('td[aria-describedby="gridTable_Qty"]').html(toDecimal(row.Qty));
                            $(this).find('td[aria-describedby="gridTable_Description"]').html(row.Description);

                        }
                    });
                    //合计
                    var TotalQty = 0.00;
                    $("#gridTable").find('[role=row]').each(function (i) {
                        var Qty = $(this).find('td:eq(5)').html();
                        if (Qty != "" && Qty != undefined && Qty != '&nbsp;') {
                            TotalQty += Number(Qty);
                        }
                    });
                    $("#TotalQty").text(toDecimal(TotalQty));
                }
            });
        }
    }
    //加载明细
    function GetOrderEntryGrid() {
        var $grid = $("#gridTable");
        $grid.jqGrid({
            unwritten: false,
            datatype: "local",
            height: '100%',
            autowidth: true,
            colModel: [
                { label: '主键', name: 'OrderEntryId', hidden: true },
                { label: '商品名称', name: "ProductName", width: 260, align: 'left', sortable: false, resizable: false },
                { label: '商品单', name: "ProductCode", width: 100, align: 'center', sortable: false, resizable: false },
                { label: '单位', name: "Unit", width: 100, align: 'center', sortable: false, resizable: false },
                { label: '数量', name: 'Qty', width: 80, align: 'center', sortable: false, resizable: false },
                { label: '说明信息', name: 'Description', width: 200, align: 'left', sortable: false, resizable: false }
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "Unit": "合计：",
                    "Qty": "<span id='TotalQty'>0.00</span>",
                });
                $('table.ui-jqgrid-ftable td[aria-describedby="gridTable_Unit"]').prevUntil().css("border-right-color", "#fff");
            }
        });
        //表头合并
        $grid.jqGrid('setGroupHeaders', {
            useColSpanStyle: true,
            groupHeaders: [
              { startColumnName: 'ProductName', numberOfColumns: 3, titleText: '商品信息' },
              { startColumnName: 'Qty', numberOfColumns: 7, titleText: '价格信息' }
            ]
        });
        //默认添加13行 空行
        for (var i = 1; i < 11; i++) {
            var rowdata = {
                OrderEntryId: '',
                ProductName: '',
                ProductCode: '',
                Unit: '',
                Qty: '',
                Description: '',
            }
            $grid.jqGrid('addRowData', i, rowdata);
        };
    }
    //打印
    function btn_print() {
        $(".bills").printTable();
    }
</script>

<div class="bills">
    <div class="printArea">
        <table class="form" style="width: 100%; margin-bottom: 10px;">
            <tr>
                <th class="formTitle">单号</th>
                <td class="formValue">
                    <input id="Code" type="text" class="form-control" readonly />
                </td>
                <td class="formValue" rowspan="4">
                    <img id="ifmSignIn" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">客户</td>
                <td class="formValue">
                    <input id="CustomerName" type="text" class="form-control" readonly />
                    <input id="CustomerId" type="hidden" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">经销商</td>
                <td class="formValue">
                    <input id="CompanyName" type="text" class="form-control" readonly />
                    <input id="CompanyId" type="hidden" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">销售人</th>
                <td class="formValue">
                    <input id="SalesmanUserName" type="text" class="form-control" readonly />
                </td>
            </tr>
        </table>
    </div>
    <div class="gridPanel printArea">
        <table id="gridTable"></table>
    </div>
    <div class="printArea">
        <textarea id="Description" placeholder="暂无备注信息" class="form-control" style="width: 100%; height: 50px; margin-top: 10px;"></textarea>
    </div>
</div>
<div id="bottomField">
    <div class="btn-group">
        <a id="lr-print" class="btn btn-success" onclick="btn_print()"><i class="fa fa-print"></i>&nbsp;打印</a>
    </div>
</div>
